{% extends "base.html" %}
{% block title %}CV{% endblock%}
{% block CVActiv %}nav-link activ{% endblock%}
{% block content %}
<h1>Wer bin ich eigentlich</h1>


  <div class="card-columns">
    <div class="card text-white bg-dark mb-3">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title">Dark card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
{% endblock %}
